<link rel="stylesheet" href="/css/all-reviews.css">

<% const mean = (courseContentSum / num + courseStructureSum / num + teachingStyleSum / num + studentSupportSum / num) / 4 %>



<div class="title-wrapper">
    <h1 class="title">
        Coursla Review
    </h1>
    <p class="subtitle">
        Discover honest and categorized course reviews.
    </p>
</div>

<div class="overall-rating-wrapper">

    <div class="all-rating">
        <div class="all-rating-score">
            <span class="mean"><%= mean.toFixed(1) %></span><span class="divider">/5</span>
        </div>
        <div class="label">Overall Rating</div>
    </div>
    


        <div class="review-1">
            <div class="review-category">Course Content</div>
            <div class="review-slider">
                <%- include("templates/read-slider", { type: "courseContent", value: courseContentSum / num}) %>
            </div>
        </div>
        <div class="review-2">
            <div class="review-category">Course Structure</div>
            <div class="review-slider">
                <%- include("templates/read-slider", { type: "courseStructure", value: courseStructureSum / num}) %>
            </div>
        </div>
        <div class="review-3">
            <div class="review-category">Teaching Style</div>
            <div class="review-slider">
                <%- include("templates/read-slider", { type: "teachingStyle", value: teachingStyleSum / num}) %>
            </div>
        </div>
        <div class="review-4">
            <div class="review-category">Student Support</div>
            <div class="review-slider">
                <%- include("templates/read-slider", { type: "studentSupport", value: studentSupportSum / num }) %>
            </div>
        </div>
   
</div>