<% if (isLoggedIn) { %>
  <%- include("templates/header") %>
<% } else { %>
  <%- include("templates/header-beforeLogin") %>
<% } %>

<!--Course Detail-->

<div class="course-detail-wrapper">
  <div class="course-detail-buttons">
    <a href="<%= courseInfo.Course_URL %>" class="btn share-link">
      Link to the course
      <span class="material-symbols-outlined">
        exit_to_app
      </span>
    </a>
  </div>
  <h2>
    <%= courseInfo.Name %>
  </h2>
  <div class="course-detail-ratings">
    <div class="rating-box">
      <p>
        <span class="rating-number"><%= courseInfo.Course_Rating %></span> /5
      </p>
      <strong>Provider Rating</strong>
    </div>
    <div class="rating-box">
      <p>
        <span class="rating-number">0.0</span> /5
      </p>
      <strong>Coursla Rating</strong>
    </div>
  </div>
  <ul class="course-detail-overview">
    <li>
        <span class="material-symbols-outlined">
            school
        </span>
        <span class="title">Provider</span>
        <span class="content"><%= courseInfo.Provider %></span>
    </li>
  </ul>
</div>




<!--Reviews-->

  <% let courseContentSum=0; %>
    <% let courseStructureSum=0; %>
      <% let teachingStyleSum=0; %>
        <% let studentSupportSum=0; %>
          <% let num=0; %>

            <!-- need to connect the course collection -->

            <div class="number-ratings" style="margin-top: 20%;font-size: 25px; font-weight: bold;">
              <%= reviewSliderPairs.length %> Student Ratings
            </div>

            <!-- add css later -->
            <a class="write-review-link" href="/reviews/write/:<%= courseId %>">
              <button>Write a Review</button>
            </a>

              <% reviewSliderPairs.forEach(pair=> { %>
                <%- include("read-review", { review: pair.review, sliderValue: pair.sliderValue, username: username, courseId: courseId })
                  %>
                  <% courseContentSum +=parseInt(pair.sliderValue.courseContentSliderValue); %>
                    <% courseStructureSum +=parseInt(pair.sliderValue.courseStructureSliderValue); %>
                      <% teachingStyleSum +=parseInt(pair.sliderValue.teachingStyleSliderValue); %>
                        <% studentSupportSum +=parseInt(pair.sliderValue.studentSupportSliderValue); %>
                          <% num ++; %>
                            <% }) %>
                              <%- include("all-reviews", { courseContentSum: courseContentSum, courseStructureSum:
                                courseStructureSum, teachingStyleSum: teachingStyleSum, studentSupportSum:
                                studentSupportSum, num: num }) %>
                           

                                  <%- include("templates/footer") %>