<%- include('templates/header') %>

  <% console.log("categorysum", overallCategorySums) %>
    <% console.log("vote", Totalvote) %>

    <%- include("all-reviews", { overallCategorySums: overallCategorySums,  num: Totalvote,  CourslaRating: CourslaRating}) %>


        <!-- read reviews from each user -->
        <!-- need to connect the course collection -->
        <div class="number-ratings" style="margin-top: 20%;font-size: 25px; font-weight: bold;">
          <%= reviewSliderPairs.length %> Student Ratings
        </div>

        <!-- add css later -->
        <a class="write-review-link" href="/reviews/write/:<%= courseId %>">
          <button>Write a Review</button>
        </a>

        <% reviewSliderPairs.forEach(pair=> { %>
          <%- include("read-review", { review: pair.review, sliderValue: pair.sliderValue, username: username, courseId:
            courseId }) %>
            <% }) %>




              <%- include("templates/footer") %>