<link rel="stylesheet" href="/css/edit-review.css" />

<div class="setting review-setting">
  <div class="dropdown">
    <button
      class="btn edit-button"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="/image/setting.png" alt="Setting" />
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item edit-review-link"
        href="#"
        data-review-id="<%= review._id.toString() %>"
        >Edit this review</a
      >

      <a
        class="dropdown-item delete-review-link"
        href="#"
        data-course-id="<%= review.CourseID %>"
        >Delete this review
      </a>
    </div>
  </div>
</div>

<!-- Add a modal container -->
<div id="deleteReviewModal" class="modal review-modal">
  <div class="modal-content">
    <h2 class="modal-header">Confirm Delete</h2>
    <p>Are you sure you want to delete this review?</p>

    <input
      type="hidden"
      id="desiredCourse"
      data-courseid="<%= review.CourseID %>"
    />
    <input
      type="hidden"
      id="desiredReview"
      data-reviewid="<%= review._id.toString() %>"
    />
    <input type="hidden" id="desireUserEmail" data-useremail="<%= email %>" />

    <div class="modal-buttons">
      <button id="confirmDeleteBtn" class="btn-confirm">Delete</button>
      <button id="cancelDeleteBtn" class="btn-cancel">Cancel</button>
    </div>
  </div>
</div>

<script>
/*
   This jQuery code manages the editing and deletion functionality of reviews on a 
   web page. It binds event listeners to specific elements and performs corresponding
    actions. Designed for web pages with review interaction features.
*/

$(document).ready(function () {
  // Edit Review Link Click Handler
  $(document).on("click", ".edit-review-link", function (e) {
    e.preventDefault();

    const reviewId = $(this).data("review-id");

    // Redirect to the edit review page with the review ID
    window.location.href = "/reviews/write/updateReview/" + reviewId;
  });

  // Delete Review Link Click Handler
  $(document).ready(function () {
    var deletedCourseIds = [];

    $(document).on("click", ".delete-review-link", function (e) {
      e.preventDefault();
      let deletionPerformed = false;
      const courseIdToBeDeleted = $(this).data("course-id");

      // Skip further processing if review already deleted
      if (deletedCourseIds.includes(courseIdToBeDeleted)) {
        return;
      }

      const desiredUserEmail = $("#desireUserEmail").data("useremail");

      // Show the delete review modal
      $("#deleteReviewModal").css("display", "block");

      // Delete button clicked and delete the review from the database
      $("#confirmDeleteBtn").on("click", function () {
        // Ajax request to delete the review
        $.ajax({
          url: "/reviews/deleteReview/" + courseIdToBeDeleted + "?useremail=" + desiredUserEmail,
          type: "POST",
          success: function (result) {
            // Handle success response
            $(".my-review-wrapper").each(function () {
              var courseId = $(this).find(".course_id").val().toString();
              if (courseIdToBeDeleted === courseId && !deletionPerformed) {
                $(this).remove();
                deletionPerformed = true;
              }
              deletedCourseIds.push(courseIdToBeDeleted);
            });
          },
        });

        // Hide the delete review modal
        $("#deleteReviewModal").css("display", "none");
      });
    });

    // Cancel button clicked and hide the delete review modal
    $("#cancelDeleteBtn").on("click", function () {
      $("#deleteReviewModal").css("display", "none");
    });
  });
});

</script>