<% if (isLoggedIn) { %>
  <%- include("templates/header-afterLogin") %>
<% } else { %>
  <%- include("templates/header-beforeLogin") %>
<% } %>
<div class="row justify-content-center">
    <div class="col-sm-8">
      <form action="/searchSubmit" method="post" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
        <div class="form-group mx-2 mb-2" style="width:300px;">
            <input name="courseSearch" type="text" class="form-control" id="courseSearch" placeholder="Search courses">
        </div>
        <button type="submit" class="btn btn-main-search mb-2">Search</button>
      </form>
    </div>
</div>

<div class="btn-group">

  <div class="filter-btn">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Provider
  </button>
  <ul class="dropdown-menu" aria-labelledby="providerDropdown">
    <li><a class="dropdown-item" href="/filteredlist?provider=Udemy" >Udemy</a></li>
    <li><a class="dropdown-item" href="/filteredlist?provider=Coursera" >Coursera</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/filteredlist?provider=All Courses" >All Courses</a></li>
  </ul>
  </div>

  <div class="filter-btn">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Level
    </button>
    <ul class="dropdown-menu" >
      <li><a class="dropdown-item" href="/filteredlist">Beginner</a></li>
      <li><a class="dropdown-item" href="/filteredlist">Intermediate</a></li>
      <li><a class="dropdown-item" href="/filteredlist">Advanced</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/filteredlist">All Levels</a></li>
   
    </ul>
  </div>

  <div class="filter-btn">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Rating
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/sort-lowtohigh">Low to High</a></li>
          <li><a class="dropdown-item" href="/sort-hightolow">High to Low</a></li>
      
       
        </ul>
      </div>
</div>



<h2>Your Filtered Results</h2>

<% for(let i=0; i < searchResult.length; i++) { %>

  <% const result = searchResult[i]; %>

  <% if (searchResult[i].Provider === 'Udemy' || searchResult[i].Provider === 'Coursera') { %>

    <%- include('templates/list', {result}) %>

  <% } %>

  <% if (searchResult[i].Course_Difficulty === 'All Levels') { %>

    <%- include('templates/list', {result}) %>

  <% } %>

  <% if (searchResult[i].Course_Difficulty === 'Beginner') { %>

    <%- include('templates/list', {result}) %>

  <% } %>

  <% if (searchResult[i].Course_Difficulty === 'Intermediate') { %>

    <%- include('templates/list', {result}) %>

  <% } %>

  <% if (searchResult[i].Course_Difficulty === 'Advanced') { %>

    <%- include('templates/list', {result}) %>

  <% } %>

<% } %>







     


<%- include("templates/footer") %>


