<% if (isLoggedIn) { %>
  <%- include("templates/header-afterLogin") %>
<% } else { %>
  <%- include("templates/header-beforeLogin") %>
<% } %>
<main class="profile-wrapper container">
  <section class="profile-section-info">
    <div class="profile-container-avatar">
      <%- include("templates/profile-avatar", {avatar}) %>
    </div>
  
    <h2 class="title-profile">Personal information</h2>
  
    <div class="container-info">
      <div class="item-row">
        Email: <%= email %>
      </div>
      <div class="item-row">
        Username: <%= username %>
      </div>
      <div class="d-flex justify-content-end">
        <div class="dropdown">
          <button class="btn btn-reset btn-setting" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/image/setting.png" alt="Setting"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/edit-profile">Edit profile</a>
            <a class="dropdown-item" href="/change-password">Change password</a>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title-profile">My Reviews</h2>
    
  </section>

</main>
<%- include("templates/footer") %>