<link rel="stylesheet" href="/css/reviewcard.css">


<!-- read from database -->
<div class="grid-container">
    <div class="rating">
        <div class="rating-wrapper">
            <div class="rating-label">
                Overall
            </div>
            <button id="ratingButton" class="rating-button">
                SCORE
            </button>
        </div>
    </div>

    <div class="review-grid">

        <div class="user_info"><%= pair.review.username %> </div>
        <div class="time_stamp"><%= pair.review.currentDate %></div>
        <div class="user_review">
            <%= pair.review.Review %>
        </div>
    </div>

    <div class="level">
        <div class="level-wrapper">
            <div class="level-label">
                Difficulty
            </div>
            <button class="level-button">LEVEL</button>
        </div>
    </div>

    <div class="review-category">Course Content</div>
    <div class="review-slider">
        <%- include("templates/read-slider", { type: "courseContent" , value: pair.sliderValue.courseContentSliderValue
            }) %>
    </div>
    <div class="review-category">Course Structure</div>
    <div class="review-slider">
        <%- include("templates/read-slider", { type: "courseStructure" , value: pair.sliderValue.courseStructureSliderValue }) %>
    </div>
    <div class="review-category">Teaching Style</div>
    <div class="review-slider">
        <%- include("templates/read-slider", { type: "teachingStyle" , value: pair.sliderValue.teachingStyleSliderValue
            }) %>
    </div>
    <div class="review-category">Student Support</div>
    <div class="review-slider">
        <%- include("templates/read-slider", { type: "studentSupport" , value: pair.sliderValue.studentSupportSliderValue
            }) %>
    </div>
</div>