<span class="lead">
    Title: <%= result.Title %>
    Provider: <%= result.Provider %>
    Difficulty: <%= result.Course_Difficulty %>
    Rating: <%= result.Course_Rating %>
    URL: <%= result.Course_URL %>
    Organization: <%= result.Organization %>
    Description: <%= result.Course_Description %>
</span></br></br>