   <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script>
  function handleClick(courseid) {
    console.log('Clicked on', courseid);

    // Send a POST request to the server route
    $.get('/courseDetails', function(response) {
      console.log('Redirecting to new page');
      window.location.href = '/courseDetails?courseid=' + courseid;
    });
  }
</script>
   
   <!-- <li>Title: <%= result.Title %></li> -->
    <!-- <li>Provider: <%= result.Provider %>
    <li>Difficulty: <%= result.Course_Difficulty %>
    <li>Rating: <%= result.Course_Rating %></li>
    <li> URL: <%= result.Course_URL %></li>
    <li>Organization: <%= result.Organization %></li>
    <li>Description: <%= result.Course_Description %></li> -->




<div class="CourseCard-StyledCourseCard" onclick="handleClick('<%= result._id.toString() %>')">


    <div class="card-thumbnail">
        <% const randomNumber = Math.floor(Math.random() * 9) + 1; %>
        <img src="/image/randomimage/<%= randomNumber %>.jpeg" alt="Image Description">
     
       
    </div>
    <div class="card-info">
        <div class="Card-CourseName"><%= result.Title %></div>

        <div class="card-rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
       
        <div class="Card-CourseDifficulty"><%= result.Course_Difficulty %></div>
    </div>
    
</div>


 


